#myPanelToggle {
    position: fixed;
    top: 10px;
    left: 10px;
    /* ZMIEŃ URL PONIŻEJ: */
    background: rgba(20, 20, 20, 0.95) url('https://raw.githubusercontent.com/ShaderDerWraith/SynergyWraith/main/icon.jpg') center center / 70% no-repeat;
    border: 2px solid #555;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 100000;
    font-family: Arial, sans-serif;
    cursor: grab;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out;
}
